@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #095E41;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  max-width: 100%;
  padding: 0 20px;
}